*{
  margin: 5px;
  }
  input, textarea{width: 95%;}
  input[ type=submit ] {width: 100px;}
  
  #boardTable{
    border: 1px solid black; border-collapse: collapse; width: 500px;
  }
  #boardTable tr{
    text-align: center;
  }
  #boardTable th, td{
    border: 1px solid black;
  }
  #boardTable td{
    text-align: center;
  }
  #boardTable td.cen{
    text-align: center;
  }
  .backEnd{
    color: blue;
  }
  #backEndSub{
    font-weight: bold; font-size: 1.5em;
  }
  .warnings{
    color: white;background-color: red; font-size: 1.2em;
  }
